<div>
    %HEADER%
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <div class="input-group input-group-sm">
                        <input type="text" class="form-control input-sm" name="%NAME%" id="%ID%" placeholder="%PLACEHOLDER%" />
                    </div>
              </div>
                <div class="list-group">
                    <a href="#" class="list-group-item">Cras justo odio</a>
                </div>
            </div>
        </div>
    </div>
</div>